<div class="card text-black {{class}} mb-3" style="max-width: 20rem; max-height: 10rem">
    <div class="card-header">{{header}}</div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{msg}}</p>
    </div>
</div>