<table class="table table-dark" id="dashboard-word-table">
    <thead class="thead-light">
        {{#each teableData.titles}}
        <th>{{this}}</th>
        {{/each}}
    </thead>
    <tbody>
        {{#each teableData.data}}
        <tr>
            <td>{{this.contextWord}}</td>
            <td>{{this.answers.native1}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled" id="next-btn">
            <a class="page-link" href="#" tabindex="-1" onclick="handlePrevPage()">Previous</a>
        </li>
        <li class="page-item" id="prev-btn">
            <a class="page-link" href="#" onclick="handleNextPage()">Next</a>
        </li>
    </ul>
</nav>