<div class="row justify-content-center form-mt">
    <div class="col-md-10 shadow-lg bg-white rounded">
        <div class="not-found-container">
            <h1>404</h1>
            <p>THE PAGE YOU REQUESTED COULD NOT FOUND</p>
            <a href="/"><button class="btn btn-lg btn-primary btn-block">GO TO HOMEPAGE</button></a>
        </div>
    </div>
</div>