<div class="row justify-content-center form-mt">
    <div class="col-md-4 order-md-2 mb-4 bg-white shadow-lg bg-white rounded">
        {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
        {{/if}}
        <form method="post" action="/words/add" class="form-signin mb-4">
            <div class="text-center mb-4">
                <img class="mb-4" src="/img/logo.png" alt="" width="100" height="100">
                <h1 class="h3 mb-3 font-weight-normal">Add a word</h1>
            </div>

            <div class="form-label-group mb-4">
                <label for="context-word">Context word</label>
                <input type="text" name="contextWord" class="form-control" required autofocus>
            </div>
            <span class="badge badge-pill badge-success" id="add-answer" onclick="addAnswer()">+ add answer</span>
            <div class="form-label-group mb-4">
                <label for="native-1">Native answer 1</label>
                <input type="text" name="native1" class="form-control" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" id="btn-word-submit" type="submit">Save</button>
        </form>
    </div>
</div>