<div class="container">
    <div class="row">
        {{> dashboard-stats prefix=../prefix color="primary" title="Total" value=358 icon="calendar"}}
        {{> dashboard-stats prefix=../prefix color="success" title="Guessed" value=10032 icon="check-circle"}}
        {{> dashboard-stats prefix=../prefix color="info" title="Failures" value=1451 icon="exclamation-triangle"}}
        {{> dashboard-stats prefix=../prefix color="warning" title="Hints" value=1221 icon="question-circle"}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="table-header custom-box-shadow">Words</h2>
        {{> wordsTable}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="table-header custom-box-shadow">Most successes</h2>
        {{> wordsTable}}
    </div>
    <div class="col">
        <h2 class="table-header custom-box-shadow">Most failures</h2>
        {{> wordsTable }}
    </div>
</div>
</div>