<div class="container">
    <div class="row">
        {{> dashboard-stats prefix=../prefix color="primary" title="Total words" value=stats.totalWords
        icon="calendar"}}
        {{> dashboard-stats prefix=../prefix color="info" title="Competitions" value=stats.competitions
        icon="flag-checkered"}}
        {{> dashboard-stats prefix=../prefix color="success" title="Guessed" value=stats.success
        icon="check-circle"}}
        {{> dashboard-stats prefix=../prefix color="danger" title="Failures" value=stats.failure
        icon="exclamation-triangle"}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="table-header custom-box-shadow">Words</h2>
        {{> wordsTable}}
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="table-header custom-box-shadow">Most successes</h2>
        {{> scoreTable prefix=../prefix titles=limitationsData.titles data=limitationsData.topSuccessedWords
        color="success"}}
    </div>
    <div class="col">
        <h2 class="table-header custom-box-shadow">Most failures</h2>
        {{> scoreTable prefix=../prefix titles=limitationsData.titles data=limitationsData.topFailuresWords
        color="danger"}}
    </div>
</div>
</div>