<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">GAME OF WORDS</h1>
            </div>
            <div class="col-xl-9 mx-auto">
                <p class="mb-5">Strain your brain and improve your language skills with a little fun.</p>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            {{> features-icons-item prefix=../prefix title="Word Database" lead="Make your own collection of words and
            extend as much as you want!" icon="database"}}
            {{> features-icons-item prefix=../prefix title="Fun part" lead="You can train by playing with the saved
            words!" icon="gamepad"}}
            {{> features-icons-item prefix=../prefix title="Statistics" lead="Track your results to help you progress
            more easily!" icon="chart-line"}}
        </div>
    </div>
</section>

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true"
                    focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512" data-fa-i2svg="">
                    <path fill="currentColor"
                        d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                    </path>
                </svg>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">The idea of the application is simple. If you are learning a new language, you can save
                    new words. Тhen comes the turn of the exercises, where you will consolidate the learned words.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <ul style="margin-top: 1rem;">
                    <li>Practice what you learn during the day and week</li>
                    <li>Practice the words you have made the most mistakes</li>
                    <li>Learn more easily by practicing and playing every day</li>
                </ul>
            </div>
        </div>
    </div>
</section>