@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Potta One", cursive;
  background: url("/img/site-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Dashboard */

.dashboard-stats {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.25rem solid #dc3545 !important;
}

.text-gray {
  color: #dddfeb !important;
}

.text-primary {
  color: #4e73df !important;
}

.text-success {
  color: #1cc88a !important;
}

.text-info {
  color: #36b9cc !important;
}

.text-warning {
  color: #f6c23e !important;
}

.text-danger {
  color: #dc3545 !important;
}

.table-header {
  background-color: #e9ecef;
  display: inline-block;
  border-radius: 10%;
}

/* <--- Dashboard end --->*/

.error-container {
  margin-top: 80px;
  text-align: -webkit-center;
}

.alert {
  margin-top: 1rem;
}

.form-mt {
  margin-top: 10vh;
}

/* Shadow */
.custom-box-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
/* Competition Cards */
.card {
  height: 180px;
  width: 50%;
  font-family: "Times New Roman", Georgia, serif;
  background-color: #e9ecef;
}

.card-body {
  text-align: center;
}

#guess-word {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.hidden {
  display: none;
  width: 100px;
}

/* conters conteiners */
#counters-container {
  margin-top: 40px;
  background-color: #e9ecef;
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 0.25em;
}

#counters-container > h1 {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#en-success-span,
#en-failure-span,
#en-hints-span {
  float: right;
}

.shaking {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.grow {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#suggestions-container {
  margin-top: 110px;
}

/* Help - Hints container and buttons */

.check-button {
  cursor: pointer;
}

#help-buttons-container {
  margin: 1rem;
}

#help-buttons-container > button {
  margin-right: 5px;
}

.words-table-container {
  display: flex;
  flex-direction: column;
}

.pagination {
  justify-content: center;
}

/* Btn for add more answers */

#add-answer {
  cursor: pointer;
  padding: 0.4rem;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0;
  color: #999;
  text-align: center;
  font-size: 10px;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

/* 404 Not found page */
.not-found-container {
  margin: 4em;
  text-align: center;
}

.not-found-container > h1 {
  font-size: 9em;
}

.not-found-container > a {
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .tab-group {
    text-align: center;
  }

  .form-mt {
    margin-top: 12vh;
  }

  .card {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  #counters-container {
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
  }

  #counters-container > h1 {
    font-size: 1.8rem;
  }

  #help-buttons-container {
    display: flex;
    justify-content: center;
  }

  .card {
    width: -webkit-fill-available;
  }

  /* Dashboard */
  #rankings-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) {
  .jumbotron > div > h1 {
    font-size: 2.8rem;
    line-height: 1;
  }

  .jumbotron > div > p {
    font-size: 0.6rem;
  }
  div.jumbotron > div > p:nth-child(3) > a {
    font-size: 0.8rem;
  }
  .jumbotron > a.btn {
    font-size: 0.6rem;
  }
  #counters-container {
    font-size: 0.9rem;
  }

  #counters-container > h1 {
    font-size: 1.2em;
  }

  #suggestions-container {
    margin-top: 40px;
  }

  #counters-container > div > div {
    padding: 0;
  }

  #guess-word {
    font-size: 18px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
